@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oswald&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Merriweather&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: #8A2387;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to left, #F27121, #E94057, #8A2387);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to left, #F27121, #E94057, #8A2387); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    min-height: 100vh;
    display: flex;
    flex-direction: column;

}


header {
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    

}



header h1 {
    font-family: 'Montserrat', Tahoma, Geneva, Verdana, sans-serif;
    color: white;
    margin-left: 10px;
    margin-bottom: 10px;
    color: white;
}

header h1:hover {
    cursor: pointer;
    color: #909CC2;
    transition: color .25s;
}

header a {
    color: white;
}

.navmenu {
    display: flex;
    align-items: center;
}

nav ul{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-left: 20px;

}

nav li {
    margin: 0 20px;
    list-style-type: none;
    color: white;
    font-family: 'Montserrat';
    
}

#account-click {
    color: white;
    text-decoration: none;
}

#a-click {
    text-decoration: none;
    color: whiye;
}

#a-click:hover {
    color: #A3CAF1;
}


nav li:hover {
    color: #A3CAF1;
    cursor: pointer;
    transition: color .25s;
}

.account {
    display: flex;
    padding-right: 10px;
}
.account li{
    list-style: none;
    color: black;
    margin: 0 20px;
}

.account li:hover {
    color: #909CC2;
    transition: color .25s;
    cursor: pointer;
}

.number-favorite {  
    font-size: 13px;
}


    
/* MAIN */

main {
    margin-top: 15px;
    margin-left: 15px;
    flex-grow: 1;
}

.first-page {
    width: 100%;
    height: 600px;
    display: flex;
    flex-direction: row-reverse;
    justify-content: flex-end;
}

.first-page img {
    width: 600px;
    height: 400px;
    transform: rotate(-20deg);
    filter: drop-shadow(10px 10px 5px rgba(0, 0, 0, 0.25));
    margin-right: 10%;
    user-select: none;
}

.first-page img:hover {
    cursor: pointer;
}

.details-hero {
    width: 50%;
}

.details-hero a {
    background-color: #F0672C;
    font-family: 'Montserrat';
    margin-left: 15%;
}

.titlehero {
    color: white;
    font-family: 'Merriweather';
    font-weight: 200;
    font-size: 60px;
    margin-left: 15%;
    margin-top: 90px;
    margin-bottom: 50px;
    user-select: none;
    width: 50%;
}

.titlehero:hover {
    cursor: pointer;
}


.best-seller {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.title-seller {
    height: 100px;
    text-align: center;
    padding-top: 30px;
    margin-right: 30px;
    font-family: 'Oswald';
    font-weight: 700;
    font-size: 30px;
    color: white;
}

.list-card {
    display: grid;
    grid-template-columns: 30% 30% 30%;
    grid-gap: 20px;
    justify-items: center;
    margin: 0 50px;
}

.card {
    font-family: 'Montserrat';
    width: 250px;
    height: 400px;
    background-color: white;
    border-radius: 15px;
    display: grid;
    grid-template-rows:  40% 10% 30% 20%;
    position: relative;
    user-select: none;
}

.card img {
    width: 100%;
    border-radius: 15px;
    user-select: none;
    transition: opacity 0.5s;
    transition: transform .5s;
}

.card img:hover {
    opacity: .8;
    cursor: pointer;
    transform: scale(1.1);

}

.titre {
    font-size: 1rem;
    margin-left: 13px;
    color: black;
}


.description {
    color: black;
    text-align: left;
    font-family: 'Montserrat';
    font-size: 13px;
    margin-left: 10px;
}

#buy {
    width: 30%;
    height: 30px;
    position: absolute;
    right: 0;
    bottom: 0;
    margin: 20px;
    border: 0;
    border-radius: 10px;
    color: white;
    font-family: 'Montserrat';
}

#buy:hover {
    opacity: .9;
    color: black;
    transition: opacity, color 0.5s;
}

#lien {
    background-color: #8A2387;
}

#favoris {
    width: 30%;
    height: 30px;
    position: absolute;
    left: 0;
    bottom: 0;
    margin: 20px;
    background-color: #8A2387;
    border: 0;
    border-radius: 10px;
    color: white;
    font-family: 'Montserrat';
    font-size: 10px;
}

#favoris:hover {
    opacity: .9;
    color: black;
    transition: opacity, color 0.5s;
}


.more-produits {
    width: 100%;
    margin-top: 50px;
    display: flex;
    flex-direction: row;
    font-family: 'Montserrat';
    color: white;
}




.paragraph-hero {
    width: 600px;
    margin-left: 5%;
}

.paragraph-hero p{
    margin-top: 20px;
}

main a {
    text-decoration: none;
    padding: 10px;
    color: white;
    background-color: #A3CAF1;
    border-radius: 10px;
    margin: 0 auto;
    transition: opacity 0.5;
    transition: color .5s;
}
a:hover {
    opacity: .8;
    color: black;

}

.more-produits {
    width: 100%;
    height: 390px;
    margin: 0 40px
}

.more-produits h1 {
    margin-top: 60px;
}

.more-produits img {
    width: 500px;
    height: 100%;
    transform: rotate(20deg);
}


footer {
    width: 100%;
    background-color: #4F2D7F;
    height: 250px;
    display: grid;
    padding-left: 15%;
    padding-top: 20px;
    grid-template-columns: 1fr 1fr 1fr;
    font-family: 'Montserrat';
    font-size: 0.7rem;
    color: white;
}

.footer {
    display: flex;
    flex-direction: column;
    
}

.footer > .section {
    margin: 6px 0;
}

.section {
    
}


/* Product pages */

.product {
    width: 80%;
    height: 450px;
    margin: 50px auto;
    background-color: #F1F1F1;
    display: grid;
    grid-template-columns: 50% 50%;
    border: 1px solid #F0672C;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}
.product img {
    width: 100%;
    
}

.product h1, p {
    font-family: 'Montserrat';
    color: black;
    margin-left: 20px;
    padding-bottom: 20px;
}

.product p {
    order: -1;
    margin-left: 20px;
}


.info {
    display: flex;
    flex-direction: column-reverse;
    order: 1;
    justify-content: flex-end;
}



.info #price {
    order: -1;
    padding-bottom: 20px;
    font-family: "Merriweather";
}

#name {
    margin: 0;
    margin-top: 10px;
}

#description {
    margin: 0;
}

#img {
    width: 90%;
}


.info img {
    width: 100%;
    user-select: none;
}

.info img:hover {
    transform: scale(1.1);
    transition: ease-in-out transform .25s;
}

.taille {
    order: -2;
    display: grid;
    grid-template-columns: 10% 10% 10% 10% 10%;
    grid-gap: 40px;
    
}

.taille a {
    width: 70px;
    text-align: center;
    color: black;
    border: 1px solid black;
    background-color: white;
    border-radius: 0px;
    font-family: 'Montserrat'
}

.taille a:hover {
    border: 1px solid #F0672C;
    transition: border .25s;
}

#order {
    order: -3;
    border: 1px solid black;
    background-color: white;
    border-radius: 0px;
    color: black;
    font-family: 'Montserrat';
}

a {
    text-decoration: none;
}


/* Responsive */

@media screen and (max-width: 1255px){
    .titlehero {
        font-size: 50px;
        margin-left: 30px;
    }
 }
 
@media screen and (max-width: 955px){
   body {
    background: linear-gradient(to bottom right, #F27121, #E94057, #8A2387); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

   }

   .list-card {
    display: flex;
    flex-direction: column;
   }
   
    nav li {
    display: flex;
    flex-direction: column;
   }
    .titlehero{
    font-size: 45px;
   }
    .list-card {
    grid-gap: 40px;
   }

}
